In [25]:
import pandas as pd
import numpy as np
data = pd.read_csv('C:/Users/grzeg/PycharmProjects/PAD/Projekt/messy_data.csv')

# Dane - pierwsze 5 wierszy

In [26]:
data.head()

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
0,0.5,IF,D,Ideal,5.1,5.15,3.2,61.5,,3000
1,0.7,vvs2,E,premium,5.7,,3.52,62,59,4500
2,NaN,Si2,h,Good,4.3,4.31,,62.3,56,700
3,1.2,if,d,ideal,,6.82,4.2,61.7,58,10000
4,0.9,I1,J,Fair,6,,3.7,61.7,,2400

# Analiza danych - kolumny

- **carat**: Liczba karatów w danym wyrobie. Typ zmiennoprzecinkowy, zawiera puste wiersze
- **clarity**: Przejrzystość/czystość wyrobu - kategoria. Wymaga ujednolicenia
- **color**: Kolor - kategoria. Wymaga ujednolicenia
- **cut**: Szlif - kategoria. Wymaga ujednolicenia
- **x/y/z dimension**: Wymiary. Typ zmiennoprzecinkowy, zawiera puste wiersze
- **depth**: Głębokość. Typ zmiennoprzecinkowy, zawiera puste wiersze
- **table**: Płaska górna powierzchnia diamentu. Typ int, zawiera puste wiersze
- **price**: Cena wyrobu. Typ int, zawiera puste wiersze

# Czyszczenie i ujednolicenie danych

## Nazwy kolumn

In [27]:
# w nazwach kolumn są białe znaki
data.columns = data.columns.str.strip()
data.columns

Index(['carat', 'clarity', 'color', 'cut', 'x dimension', 'y dimension',
       'z dimension', 'depth', 'table', 'price'],
      dtype='object')

## Kolumna clarity

In [28]:
clarity_categories = set(data['clarity'])
clarity_categories

# W nazwach są białe znaki
data['clarity'] = data['clarity'].str.strip()

clarity_categories = set(data['clarity'])
clarity_categories

{'I1',
 'IF',
 'SI2',
 'Si1',
 'Si2',
 'VVS1',
 'VVS2',
 'Vvs1',
 'i1',
 'if',
 'si1',
 'si2',
 'vvs1',
 'vvs2'}

In [29]:
# Mapowanie rodzajów i ustawienie typu na kategorie

mapping = {'i1': 'I1', 'if': 'IF', 'si1': 'Si1', 'si2': 'SI2','Si2': 'SI2' ,'vvs1': 'VVS1', 'Vvs1': 'VVS1', 'vvs2': 'VVS2'}
data['clarity'] = data['clarity'].replace(mapping)

clarity_categories = set(data['clarity'])
clarity_categories

data['clarity'] = data['clarity'].astype('category')
data.dtypes

carat           float64
clarity        category
color            object
cut              object
x dimension      object
y dimension      object
z dimension      object
depth            object
table            object
price            object
dtype: object

## Kolumna **color**

In [30]:
colors = set(data['color'])
colors

# W nazwach kolorów są białe znaki
data['color'] = data['color'].str.strip()

colors = set(data['color'])
colors

{'Colorless',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'colorless',
 'd',
 'e',
 'f',
 'g',
 'h',
 'j'}

In [31]:
# Mapowanie kolorów i ustawienie typu na kategorie

mapping = {'colorless': 'Colorless', 'd': 'D', 'e': 'E', 'f': 'F', 'g': 'G', 'h': 'H', 'j': 'J'}
data['color'] = data['color'].replace(mapping)

colors = set(data['color'])
colors

data['color'] = data['color'].astype('category')
data.dtypes

carat           float64
clarity        category
color          category
cut              object
x dimension      object
y dimension      object
z dimension      object
depth            object
table            object
price            object
dtype: object

## Kolumna cut

In [32]:
cut_categories = set(data['cut'])

# W nazwach są białe znaki
data['cut'] = data['cut'].str.strip()

cut_categories = set(data['cut'])
cut_categories

{'Fair',
 'Good',
 'Ideal',
 'Premium',
 'Very Good',
 'Very good',
 'fair',
 'good',
 'ideal',
 'premium',
 'very Good',
 'very good'}

In [33]:
# Mapowanie szlifów i ustawienie typu na kategorie

mapping = {'fair': 'Fair', 'good': 'Good', 'ideal': 'Ideal', 'premium': 'Premium', 'very good': 'Very Good', 'Very good': 'Very Good', 'very Good': 'Very Good'}
data['cut'] = data['cut'].replace(mapping)

cut_categories = set(data['cut'])
cut_categories

data['cut'] = data['cut'].astype('category')
data.dtypes

carat           float64
clarity        category
color          category
cut            category
x dimension      object
y dimension      object
z dimension      object
depth            object
table            object
price            object
dtype: object

In [34]:
#Ustawienie typu danych dla reszty kolumn

cols_with_empty_strings = data.columns[data.apply(lambda col: col == ' ').any()]
data[cols_with_empty_strings] = data[cols_with_empty_strings].replace(' ', np.nan)

data['x dimension'] = data['x dimension'].astype(float)
data['y dimension'] = data['y dimension'].astype(float)
data['z dimension'] = data['z dimension'].astype(float)
data['depth'] = data['depth'].astype(float)
data['table'] = data['table'].astype('Int32')
data['price'] = data['price'].astype('Int32')

data.dtypes

carat           float64
clarity        category
color          category
cut            category
x dimension     float64
y dimension     float64
z dimension     float64
depth           float64
table             Int32
price             Int32
dtype: object

In [35]:
data.head(15)

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
0,0.50,IF,D,Ideal,5.1,5.15,3.20,61.5,<NA>,3000
1,0.70,VVS2,E,Premium,5.7,NaN,3.52,62.0,59,4500
2,NaN,SI2,H,Good,4.3,4.31,NaN,62.3,56,700
3,1.20,IF,D,Ideal,NaN,6.82,4.20,61.7,58,10000
4,0.90,I1,J,Fair,6.0,NaN,3.70,61.7,<NA>,2400
5,NaN,Si1,G,Very Good,5.9,5.92,3.63,NaN,57,4200
6,0.50,IF,D,Ideal,5.1,NaN,3.20,61.5,57,3100
7,0.40,VVS1,F,Good,4.8,4.79,2.95,NaN,<NA>,1500
8,NaN,SI2,I,Good,4.3,4.32,NaN,62.3,<NA>,<NA>
9,1.00,VVS1,F,Ideal,6.4,NaN,4.00,NaN,58,7500
10,0.50,Si1,Colorless,Premium,NaN,5.21,3.21,61.6,58,<NA>
11,0.40,VVS2,G,Very Good,4.9,4.88,NaN,61.2,56,1400
12,NaN,SI2,J,Fair,5.7,5.71,3.54,NaN,54,2000
13,1.10,VVS1,E,Premium,6.6,NaN,4.08,NaN,57,9200
14,0.55,SI2,H,Good,5.3,5.29,NaN,62.0,<NA>,1800

# Usuwanie wierszy z brakującymi danymi

In [36]:
# Postanowiłem usunąć wiersze gdzie carat jest nan. 
# Myślę, że jest to największy czynnik który ma wpływ na cene wyrobu
# Zmniejszy to rozmiar danych o 50 wierszy ale dane będą dokładniejsze
count = data['carat'].isna().sum()
data = data.dropna(subset=['carat'])

# Brakujące dane w kolumnie price postanowiłem zamienić średnią z wierszy o podobnych wartościach (carat i cut jest taki sam)
# Zobaczmy ile jest wierszy gdzie carat i cut jest taki sam - 82
size = len(data.groupby(['carat', 'cut'], observed=True))
size

82

In [37]:
# Ilosc wierszy bez ceny
price_na_data = data[data['price'].isna()]
print(len(price_na_data))

2

In [38]:
# Wyswietlmy wiersze gdzie price jest nan oraz wiersze z takim samym carat i cut
matched_data = pd.merge(data,price_na_data[['carat', 'cut']], on=['carat', 'cut'])
matched_data

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
0,1.0,VVS1,F,Ideal,6.4,NaN,4.00,NaN,58,7500
1,0.5,Si1,Colorless,Premium,NaN,5.21,3.21,61.6,58,<NA>
2,1.0,IF,D,Ideal,6.5,6.49,NaN,61.7,58,<NA>
3,0.5,VVS1,E,Premium,5.2,5.22,NaN,NaN,58,2900
4,0.5,VVS2,F,Premium,5.2,5.23,NaN,62.1,58,3200
5,0.5,Si1,H,Premium,5.1,NaN,3.16,62.3,57,3000
6,0.5,SI2,E,Premium,5.1,5.11,NaN,62.5,55,2900

In [39]:
# Liczba wierszy z cena oraz z takim samym cut i caratem
print(len(matched_data[~matched_data['price'].isna()])) # 5

5

In [40]:
mean_prices = data.groupby(['carat', 'cut'], observed=True)['price'].mean().reset_index(name='mean_price')
merged_data = pd.merge(data, mean_prices, on=['carat', 'cut'], how='left')
merged_data['mean_price'] = merged_data['mean_price'].astype('Int32')
price_nan_mask_merged = merged_data['price'].isna()
merged_data['price'] = merged_data['price'].fillna(merged_data['mean_price']) # inplace=true dawalo warning 
merged_data[price_nan_mask_merged]

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price,mean_price
7,0.5,Si1,Colorless,Premium,NaN,5.21,3.21,61.6,58,3000,3000
12,1.0,IF,D,Ideal,6.5,6.49,NaN,61.7,58,7500,7500

In [41]:
data = merged_data.drop(columns=['mean_price'])
data[price_nan_mask_merged]

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
7,0.5,Si1,Colorless,Premium,NaN,5.21,3.21,61.6,58,3000
12,1.0,IF,D,Ideal,6.5,6.49,NaN,61.7,58,7500

# Duplikaty

In [42]:
 data.duplicated().sum()
# Nie ma wierszy identycznych

# Sprawdzmy duplikaty biorąc pod uwage ponizsze kolumny
duplicates = data.duplicated(subset=['carat', 'cut', 'clarity', 'x dimension', 'y dimension', 'z dimension'], keep=False)
data[duplicates]

# Znaleziono tylko 2 rekordy, cena moze sie roznic ze wzgledu na kolor

# Wyglada na to ze zbior po wstepnym oczyszczeniu nie ma duplikatow

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
53,1.2,VVS1,E,Premium,6.8,NaN,4.2,62.7,58,10200
102,1.2,VVS1,G,Premium,6.8,NaN,4.2,NaN,58,10100

# Błędne dane

In [43]:
# Po obejrzeniu wykresów z rozkładem zmiennych zauważyłem, że 4 wiersze znacząco odbiegają od reszty
data = data.sort_values(by='price', ascending=False)
data.head(3)

# Tak jak wcześniej, zamienie ceny na średnią cen z podobnych rekordów (carat + cut)
# Najpierw zamienie te ceny na nan 
data.loc[data['price'] > 12000, 'price'] = np.nan

mean_prices = data.groupby(['carat', 'cut'], observed=True)['price'].mean().reset_index(name='mean_price')
merged_data = pd.merge(data, mean_prices, on=['carat', 'cut'], how='left')
merged_data['mean_price'] = merged_data['mean_price'].astype('Int32')

merged_data_na_price_mask = merged_data['price'].isna()

merged_data['price'] = merged_data['price'].fillna(merged_data['mean_price']) # inplace=true dawalo warning 

# Po ponownym obejrzeniu wykresu zauważyłem poniższy rekord, którego cena znacząco odbiega od normy
# Jako że nie ma innych wierszy z caratem równym 1.6 na razie go usune
cleaned_data = merged_data[merged_data['carat'] != 1.6]

In [44]:
data = cleaned_data.drop(columns=['mean_price'])
data[merged_data_na_price_mask]

C:\Users\grzeg\AppData\Local\Temp\ipykernel_26228\1991026144.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[merged_data_na_price_mask]

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
0,1.40,SI2,D,Very Good,7.3,NaN,4.50,62.6,59,<NA>
1,0.90,IF,G,Very Good,6.3,NaN,3.90,NaN,57,6700
2,0.55,I1,I,Premium,5.3,NaN,3.28,62.3,57,2500

# Zapisanie danych

In [45]:
data.to_csv('prepared_data.csv',index=False)